body {
    background-color:#;
    margin: 0px;
    color:#000000;
}

.container { 
    background-color:#;
    height: 850px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

header {
    background-color:#FFB000;
    height: 40px;
    width: 700px;
}

h1 { 
    font-family: "Open Sans Light";
    font-size: 72px;
    margin: 0px;
    text-align: center;
}

nav {
    background-color:#;
    height: 50px;
    width: 700px;
}

td {
   color:#;
   font-family: "Open Sans Semibold";
   font-weight: 600;
}

table {
   width: 700px;
}

a {
   color:#;
   text-decoration: none;
}

a:hover {
    color:#;
}

.main {
    background-color:#8F8F8F;
    float: center;
    font-family: sans-serif;
    height: 595px;
    margin-bottom: 5px;
    width: 545px;
}
